{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>To Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}"> 
</head>
<body>
    <header class="head">
        <h3  class="To-do">TO DO APP</h3>
    </header>

    {% block content %}


    {% endblock %}

    <footer class="head">
        <p class="To-do">Built by Ubay @2021</p>
    </footer>
</body>
</html>
   